body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
  }
  p {
    font-family: Calibri, sans-serif
  }
 .heading {
    font-family: "Times New Roman", Times, serif;  
  }
  li {
    list-style-type:disc;
    font-family: Calibri, sans-serif
  }
  .butt {
      background-color: yellow;
      width: 120px;
      height:40px
  }
  #img0 {
    width: 200px;
    height:250px  
  }